# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraies
*.so
*.dylib

# Compiled static libraies
*.lai
*.la
*.a

build*/
*.pro.user*

# misc
.vscode/

# log
*.log

# debian
debian/*
!debian/changelog
!debian/rules
!debian/control
!debian/compat
!debian/source/*
# cmake dir
obj-x86_64-linux-gnu/*
*.txt.user
# other
*.qmake*
Makefile
moc_*

