[Desktop Entry]
Categories=Utility
Exec=deepin-log-viewer %f
Icon=deepin-log-viewer
MimeType=font/collection;font/ttf;font/otf;application/x-font-otf;application/x-font-ttf;application/x-font-type1;
Name=Log Viewer
StartupNotify=true
TryExec=deepin-log-viewer
Type=Application
X-Deepin-Vendor=deepin
Name[zh_CN]=日志收集工具
