[Unit]
Description=deepin-log-viewer coredump report timer

[Timer]
Unit=coredump-reporter.service
OnUnitActiveSec=30s
OnBootSec=30s

[Install]
WantedBy=timers.target
