[Unit]
Description=deepin-log-viewer coredump report activities

[Service]
Environment=HOME=/
User=root
ExecStart=/usr/bin/deepin-log-viewer --reportcoredump
ProtectSystem=strict
InaccessiblePaths=-/etc/shadow
InaccessiblePaths=-/etc/NetworkManager/system-connections
InaccessiblePaths=-/etc/pam.d
InaccessiblePaths=-/usr/share/uadp
InaccessiblePaths=-/etc/sudoers
InaccessiblePaths=-/etc/sudoers.d
