[Desktop Entry]
Categories=Utility
Exec=deepin-log-viewer %f
GenericName=Log Viewer
GenericName[ky@Arab]=تىزىم كۆرگۈچ
Icon=deepin-log-viewer
Name=Deepin Log Viewer
Name[ky@Arab]=دېۋېن تىزىم كۆرگۈچ
StartupNotify=false
TryExec=deepin-log-viewer
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ady]=Log Viewer
GenericName[af]=Log Viewer
GenericName[ak]=Log Viewer
GenericName[am_ET]=Log Viewer
GenericName[ar]=عارض السجلات
GenericName[ast]=Visor de Logs
GenericName[az]=Jurnal icmalı
GenericName[bg]=Log Viewer
GenericName[bn]=লগ ভিউয়ার
GenericName[bo]=ཉིན་ཐོ་འཚོལ་སྡུད་ཡོ་བྱད།
GenericName[bqi]=لوگ ڈیٹا
GenericName[br]=Lenner renabloù
GenericName[ca]=Visor de registres
GenericName[cs]=Prohlížeč záznamů událostí
GenericName[da]=Logfremviser
GenericName[de]=Protokollbetrachter
GenericName[el]=Επισκόπηση Λογ
GenericName[en_AU]=Log Viewer
GenericName[en_CA]=Log Viewer
GenericName[en_GB]=Log Viewer
GenericName[eo]=Log Vizor
GenericName[es]=Visor de registro
GenericName[et]=Logi vaatleja
GenericName[fa]=بازدیدگر لاگ
GenericName[fi]=Tapahtumaloki
GenericName[fil]=Pangangalap ng Log
GenericName[fr]=Visionneuse de journaux
GenericName[gl_ES]=Visor de rexistros
GenericName[he]=ד查看详情
GenericName[hi_IN]=लॉग फ़ाइल प्रदर्शक
GenericName[hr]=Preglednik zapisa
GenericName[hu]=Napló Megjelenítő
GenericName[hy]=Լոգ տեսարան
GenericName[ia]=Visualizador de Registros
GenericName[id]=Pembaca log
GenericName[it]=Log Viewer
GenericName[ja]=ログビューア
GenericName[ka]=ლოგის მოხსენიება
GenericName[km_KH]=កម្មវិធីមើលប្រវត្តិការងារ
GenericName[kn_IN]=ಲಾಗ್ ವೀಯರ್
GenericName[ko]=로그 보기도구
GenericName[ku]=نمایشکر گیت
GenericName[ku_IQ]=لۆگ ڤیوور
GenericName[ky]=Журнал Қарау
GenericName[la]=Viewer Log
GenericName[lo]=ຜູ້ເບິ່ງລາຍງານ
GenericName[lt]=Žurnalų žiūryklė
GenericName[lv]=Logu skatītājs
GenericName[ml]=ലോഗ് വ്യൂവർ
GenericName[mn]=Нэмэлт харах
GenericName[mr]=लॉग व्यूअर
GenericName[ms]=Pelihat Log
GenericName[nb]=Logvissning
GenericName[ne]=लॉग व्यूअर
GenericName[nl]=Logboek
GenericName[pa]=ਲੋਗ ਵਿਊਰ
GenericName[pam]=Log Viewer
GenericName[pl]=Przeglądarka dziennika
GenericName[pt]=Visualizador de Registos
GenericName[pt_BR]=Visualizador de Logs
GenericName[ro]=Vizualizatorul Jurnalului
GenericName[ru]=Просмотр Журнала
GenericName[sc]=Pregledač dnevničkih zapisa
GenericName[si]=ලෝග් වීඩ්‍යෝර්
GenericName[sk]=Prohlížeč záznamů
GenericName[sl]=Pregledovalnik dnevnika
GenericName[sq]=Parës Regjistrash
GenericName[sr]=Прегледач Записника
GenericName[sv]=Log Viewer
GenericName[sw]=Tazama ya Log
GenericName[ta]=லாக் பார்வையாளர்
GenericName[th]=ผู้ชมบันทึก
GenericName[tr]=Günlük Görüntüleyici
GenericName[ug]=خاتىرە كۆرگۈچ
GenericName[uk]=Перегляд журналів
GenericName[ur]=لوگ ڈیکو
GenericName[uz]=Log Viewer
GenericName[vi]=Xem Log
GenericName[zh_CN]=日志收集工具
GenericName[zh_HK]=日誌查看器
GenericName[zh_TW]=日誌收集工具
Name[ady]=Deepin Log Viewer
Name[af]=Deepin Log Viewer
Name[ak]=Deepin Log Viewer
Name[am_ET]=Deepin Log Viewer
Name[ar]=عارض سجلات ديبين
Name[ast]=Visor de Logs Deepin
Name[az]=Deepin Jurnala İcmalı
Name[bg]=Deepin Log Viewer
Name[bn]=ডিপিন্ড লগ ভিউয়ার
Name[bo]=གཏིང་ཟབ་ཉིན་ཐོ་འཚུབ་སྡུད་ཡོ་བྱད།
Name[bqi]=دیپن لوگ ڈیٹا
Name[br]=Lenner renabloù Deepin
Name[ca]=Visor de registres del Deepin
Name[cs]=Prohlížeč záznamů událostí
Name[da]=Deepin logfremviser
Name[de]=Deepin Protokollbetrachter
Name[el]=Επισκόπηση Λογ καταγραφής Deepin
Name[en_AU]=Deepin Log Viewer
Name[en_CA]=Deepin Log Viewer
Name[en_GB]=Deepin Log Viewer
Name[eo]=Profunda Log Vizor
Name[es]=Visor de registro
Name[et]=Logi vaatleja
Name[fa]=بازدیدگر لاگ دیپین
Name[fi]=Deepin tapahtumaloki
Name[fil]=Pangangalap ng Log ng Deepin
Name[fr]=Visionneuse de journaux Deepin
Name[gl_ES]=Visor de rexistros de Deepin
Name[he]=ד查看详情
Name[hi_IN]=दीपिन लॉग फ़ाइल प्रदर्शक
Name[hr]=Deepin preglednik zapisa
Name[hu]=Deepin® Napló Megjelenítő
Name[hy]=Դեփին լոգ տեսարան
Name[ia]=Visualizador de Registros Deepin
Name[id]=Penglihat Log Deepin
Name[it]=Deepin Log Viewer
Name[ja]=Deepinログビューア
Name[ka]=დეპინის ლოგის მოხსენიება
Name[km_KH]=កម្មវិធីមើលប្រវត្តិការងារ Deepin
Name[kn_IN]=ಡೀಪಿನ್ ಲಾಗ್ ವೀಯರ್
Name[ko]=Deepin 로그 보기도구
Name[ku]=دیپین نمایشکر گیت
Name[ku_IQ]=دیپین لۆگ ڤیوور
Name[ky]=Deepin Журнал Қарау
Name[la]=Viewer Log Deepin
Name[lo]=ຜູ້ເບິ່ງລາຍງານ Deepin
Name[lt]=Deepin žurnalų žiūryklė
Name[lv]=Logu skatītājs
Name[ml]=ഡീപിന്‍ ലോഗ് വ്യൂവർ
Name[mn]=Deepin-ийн нэмэлт харах
Name[mr]=ડीપिन लॉग व्यूअर
Name[ms]=Pelihat Log Deepin
Name[nb]=Deepin-logvissning
Name[ne]=डीपिन लॉग व्यूअर
Name[nl]=Deepin Logboek
Name[pa]=ਡीਪਿਨ ਲੋਗ ਵਿਊਰ
Name[pam]=Mga Paggamit han Log
Name[pl]=Przeglądarka dziennika Deepin
Name[pt]=Visualizador de Registos do Deepin
Name[pt_BR]=Visualizador de Logs
Name[ro]=Vizualizatorul Jurnalului Deepin
Name[ru]=Просмотр журнала Deepin
Name[sc]=Pregledač dnevničkih zapisa Deepin
Name[si]=ඩීපින් ලෝග් වීඩ්‍යෝර්
Name[sk]=Prohlížeč záznamů Deepin
Name[sl]=Deepin pregledovalnik dnevnika
Name[sq]=Parës Regjistrash Deepin
Name[sr]=Дипин Прегледач Записника
Name[sv]=Deepin Log Viewer
Name[sw]=Tazama ya Log Deepin
Name[ta]=டிபின் லாக் பார்வையாளர்
Name[th]=ผู้ชมบันทึก Deepin
Name[tr]=Deepin Günlük Görüntüleyici
Name[ug]=خاتىرە كۆرگۈچ Deepin
Name[uk]=Переглядач журналів Deepin
Name[ur]=ڈیپن لوگ ڈیکو
Name[uz]=Deepin Log Viewer
Name[vi]=Xem Log Deepin
Name[zh_CN]=深度日志收集工具
Name[zh_HK]=Deepin 日誌查看器
Name[zh_TW]=Deepin 日誌收集工具

